// override built-in custom variables
$body-color: #343d42;
$link-color: $body-color;
$input-btn-focus-width: 0.1rem;

.unset {
    all: unset;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

form.d-flex {
    gap: 15px; /* Расстояние между элементами формы */
    flex-wrap: wrap; /* Если экран маленький, элементы будут переноситься */
    justify-content: center; /* Центровка всех элементов */
}

form.d-flex .form-group {
    flex: 1; /* Элементы будут растягиваться равномерно */
    min-width: 200px; /* Минимальная ширина для каждого элемента */
}

form.d-flex .btn {
    flex: 0; /* Кнопка не растягивается */
    white-space: nowrap; /* Текст не переносится */
    margin-top: 30px; /* Чтобы кнопка была на одной линии с полями ввода */
}

form.d-flex .form-label {
    margin-bottom: 5px; /* Отступ между текстом label и input */
    font-weight: 500; /* Добавляем жирность для лучшей читаемости */
}


