// override built-in custom variables
$body-color: #343d42;
$link-color: $body-color;
$input-btn-focus-width: 0.1rem;

.unset {
    all: unset;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

form.d-flex {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

form.d-flex .form-group {
    flex: 1;
    min-width: 200px;
}

form.d-flex .btn {
    flex: 0;
    white-space: nowrap;
    margin-top: 30px;
}

form.d-flex .form-label {
    margin-bottom: 5px;
    font-weight: 500;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
    height: 100%;
}

.card-body {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.card-text {
    margin: 5px 0;
}

.card .btn {
    width: 100%;
}

.order-btn {
    font-size: 1.0rem;
    padding: 10px 20px;
}
.house-details {
    display: flex;
    justify-content: space-between;
}
.house-description {
    flex: 1;
    padding-right: 20px;
}
.house-info {
    min-width: 250px;
}
.map-container {
    height: 100%;
    min-height: 300px;
}
.property-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.property-icons div {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.property-icons img {
    margin-right: 8px;
}
