// override built-in custom variables
$body-color: #343d42;
$link-color: $body-color;
$input-btn-focus-width: 0.1rem;

.unset {
    all: unset;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

