<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{home.index.headline}]]</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
    <div layout:fragment="content">
        <div class="text-center mb-5">
            <h1 class="mb-3">[[#{home.index.headline}]]</h1>
        </div>
        <div class="mb-3">
            <h2 class="mb-3">[[#{home.index.choose}]]</h2>
            <form action="/available" method="get" class="d-flex align-items-center justify-content-center p-4">
                <div class="form-group me-3">
                    <label for="city" class="form-label">Where you want to stay?</label>
                    <input type="text" id="city" name="city" class="form-control" placeholder="Choose your city" />
                </div>
                <div class="form-group me-3">
                    <label for="checkin" class="form-label">Check In Date</label>
                    <input type="date" id="checkin" name="checkin" class="form-control" required />
                </div>
                <div class="form-group me-3">
                    <label for="checkout" class="form-label">Check Out Date</label>
                    <input type="date" id="checkout" name="checkout" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary">Check available houses</button>
            </form>
        </div>

        <div class="mb-3 mt-5" th:if="${!#lists.isEmpty(houses)}">
        <h2>
            Available houses in <span th:text="${city}">City</span>:
            <span th:text="${houseCount}">0</span>
        </h2></div>

        <div th:if="${!#lists.isEmpty(houses)}" class="row row-cols-1 row-cols-md-3 g-4">


            <div class="col" th:each="house : ${houses}">
                <div class="card mb-3" style="max-width: 100%; min-height: 120px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img th:src="@{'/' + ${house.imagePaths[0]}}" class="img-fluid rounded-start" alt="House Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title" th:text="${house.name}">Name</h5>
                                <p class="card-text" th:text="${house.description}">Description</p>
                                <p class="card-text">
                                    <small class="text-muted" th:text="${house.area}">area</small>
                                    <small class="text-muted">m²</small>
                                </p>
                                <p class="card-text text-danger">На нашем сайте осталось всего 7 номеров</p>
                                <div class="mt-auto">
                                    <a th:href="@{/houses/{id}(id=${house.id})}" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
