<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{home.index.headline}]]</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <div layout:fragment="content">
            <div class="text-center mb-5">
                <h1 class="mb-3">[[#{home.index.headline}]]</h1>
            </div>
            <div class="mb-3">
                <h2 class="mb-3">[[#{home.index.choose}]]</h2>
                <form action="/search" method="get" class="d-flex align-items-center justify-content-center p-4">
                    <div class="form-group">
                        <label for="city" class="form-label">Куда вы хотите поехать?</label>
                        <input type="text" id="city" name="city" class="form-control" placeholder="Введите город" />
                    </div>
                    <div class="form-group">
                        <label for="checkin" class="form-label">Заезд</label>
                        <input type="date" id="checkin" name="checkin" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="checkout" class="form-label">Отъезд</label>
                        <input type="date" id="checkout" name="checkout" class="form-control" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Проверить цены</button>
                </form>
            </div>
        </div>
    </body>
</html>
