<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{house.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{house.add.headline}]]</h1>
                <div>
                    <a th:href="@{/houses}" class="btn btn-secondary">[[#{house.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('house')}" />
            <form th:action="${requestUri}" method="post" enctype="multipart/form-data" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='house', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='house', field='city', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='house', field='description')}" />
                <div th:replace="~{fragments/forms::inputRow(object='house', field='address', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='house', field='area', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='house', field='rooms', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='house', field='price', required=true)}" />

                <div class="row mb-3">
                    <label for="images">Upload Images:</label>
                    <input type="file" id="images" name="images" multiple class="form-control"/>
                </div>
                <input type="submit" th:value="#{house.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
